n8n/workflows/P1-telegram-intake-v2.json
{
  "id": "kqCxomzy3TWYSllH",
  "name": "P1-telegram-intake-v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "Arepn5qW2Si65rVX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function generateULID() {\n  const E = '0123456789ABCDEFGHJKMNPQRSTVWXYZ';\n  let now = Date.now(), t = '';\n  for (let i = 9; i >= 0; i--) { t = E[now % 32] + t; now = Math.floor(now / 32); }\n  let r = '';\n  for (let i = 0; i < 16; i++) r += E[Math.floor(Math.random() * 32)];\n  return t + r;\n}\n\nconst msg = items[0].json.message || items[0].json || {};\nconst text = typeof msg.text === 'string' ? msg.text : '';\nconst msgIdRaw = msg.message_id || 0;\nconst chatIdRaw = msg.chat ? msg.chat.id : 0;\nconst msgId = Number.isFinite(Number(msgIdRaw)) ? Number(msgIdRaw) : 0;\nconst chatId = Number.isFinite(Number(chatIdRaw)) ? Number(chatIdRaw) : 0;\nconst timestamp = new Date().toISOString();\n\nconst event = {\n  event_id: generateULID(),\n  event_type: 'telegram.message.received',\n  source_system: 'telegram',\n  source_id: 'tg_' + chatId + '_' + msgId,\n  timestamp,\n  received_at: timestamp,\n  actor: 'user',\n  chat_id: chatId,\n  message_id: msgId,\n  raw_text: text,\n  raw_message: msg,\n  routing_decision: 'pending',\n  audit: { workflow_id: 'P1-telegram-intake-v2', parser: 'normalize', confidence: 0 },\n  ok: false,\n  intent: 'unknown',\n  target_list: '',\n  title: '',\n  items: [],\n  params: {},\n  confidence: 0,\n  needs_confirmation: true,\n  command: 'unknown',\n  entity_type: 'unknown',\n  target_system: '',\n  parse_ok: false,\n  parse_error: '',\n  payload: {\n    ok: false,\n    intent: 'unknown',\n    target_list: '',\n    title: '',\n    items: [],\n    params: {},\n    confidence: 0,\n    needs_confirmation: true\n  }\n};\n\nif (!text) {\n  event.parse_error = 'non_text_message';\n}\n\nreturn [{ json: event }];"
      },
      "id": "normalize-event",
      "name": "Normalize Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "chat-id-check",
              "leftValue": "={{ String($json.chat_id) }}",
              "rightValue": "6526468834",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "allowlist-check",
      "name": "Allowlist Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        500
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "r2",
              "name": "reply_text",
              "value": "Nicht autorisierter Chat.",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "reply_parse_mode",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "reply-nicht-autorisiert",
      "name": "Reply: Nicht autorisiert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "text-check",
              "leftValue": "={{ $json.parse_error }}",
              "rightValue": "non_text_message",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "text-guard",
      "name": "Text Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        500
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "r2",
              "name": "reply_text",
              "value": "Bitte sende Text. Natuerliche Sprache ist erlaubt, zum Beispiel: Milch, Eier und Brot kaufen. Fuer DSL-Hilfe: /help.",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "reply_parse_mode",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "reply-nur-text",
      "name": "Reply: Nur Text-Commands",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        760
      ]
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "value": "={{ $json.source_id }}",
        "options": {
          "maxEntries": 1000
        }
      },
      "id": "remove-duplicates",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [
        1080,
        500
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($json.raw_text || \"\").trim() }}",
        "rules": {
          "rules": [
            {
              "operation": "regex",
              "value2": "^(?:[a-z]:|\\/(?:help|ping|start)$)",
              "output": 0
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "fast-lane-check",
      "name": "Fast Lane Check",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const allowedParams = new Set([\"due\",\"project\",\"p\",\"prio\",\"ctx\",\"to\",\"topic\",\"src\",\"window\",\"tz\",\"store\",\"test_run\"]);\nconst inputData = items[0].json || {};\nconst text = String(inputData.raw_text || '').trim();\nconst slashMatch = text.match(/^\\/(help|ping|start)$/i);\nconst prefixMatch = text.match(/^([a-z]):\\s*(.*)$/is);\nconst prefixConfig = {\n  t: { intent: 'task.create', command: 'task', event_type: 'task.create', target_system: 'google_tasks', target_list: 'NEXT', needs_confirmation: false, requires_title: true },\n  f: { intent: 'followup.create', command: 'followup', event_type: 'followup.create', target_system: 'google_tasks', target_list: 'WAITING', needs_confirmation: false, requires_title: true },\n  k: { intent: 'knowledge.draft', command: 'knowledge', event_type: 'knowledge.draft', target_system: 'obsidian', target_list: '', needs_confirmation: false, requires_title: true },\n  q: { intent: 'calendar.query', command: 'calendar_query', event_type: 'calendar.query', target_system: 'google_calendar', target_list: '', needs_confirmation: false, requires_title: false },\n  w: { intent: 'workout.log', command: 'workout', event_type: 'workout.log', target_system: 'notion', target_list: '', needs_confirmation: true, requires_title: true },\n  m: { intent: 'meeting.create', command: 'meeting', event_type: 'meeting.create', target_system: 'obsidian', target_list: '', needs_confirmation: true, requires_title: true },\n  h: { intent: 'health.log', command: 'health', event_type: 'health.log', target_system: 'notion', target_list: '', needs_confirmation: true, requires_title: true },\n  j: { intent: 'journal.create', command: 'journal', event_type: 'journal.create', target_system: 'obsidian', target_list: '', needs_confirmation: true, requires_title: true }\n};\n\nlet result = {\n  ...inputData,\n  parser: 'fast_lane',\n  ok: false,\n  intent: 'unknown',\n  target_list: '',\n  title: '',\n  items: [],\n  params: {},\n  confidence: 0,\n  needs_confirmation: true,\n  command: 'unknown',\n  entity_type: 'unknown',\n  target_system: '',\n  parse_ok: false,\n  parse_error: 'unknown_prefix'\n};\n\nif (slashMatch) {\n  const slash = slashMatch[1].toLowerCase();\n  const intent = slash === 'ping' ? 'ping' : 'help';\n  const eventType = intent === 'ping' ? 'system.ping' : 'system.help';\n  result = {\n    ...result,\n    ok: true,\n    intent,\n    target_list: '',\n    title: '',\n    items: [],\n    params: {},\n    confidence: 1,\n    needs_confirmation: false,\n    command: intent,\n    entity_type: eventType,\n    target_system: 'telegram',\n    event_type: eventType,\n    parse_ok: true,\n    parse_error: ''\n  };\n} else if (prefixMatch) {\n  const prefix = prefixMatch[1].toLowerCase();\n  const config = prefixConfig[prefix];\n  if (config) {\n    const rest = prefixMatch[2] || '';\n    const extracted = {};\n    const invalidParams = [];\n    const paramRe = /\\/(\\w+)=([^\\s\\/]+)/g;\n    let match;\n    while ((match = paramRe.exec(rest)) !== null) {\n      const key = match[1];\n      const value = match[2];\n      if (!allowedParams.has(key)) {\n        invalidParams.push(key);\n        continue;\n      }\n      extracted[key] = value;\n    }\n    const title = rest.replace(/\\/\\w+=[^\\s\\/]+/g, '').trim();\n    const missingTitle = config.requires_title && !title;\n    const parseError = invalidParams.length > 0 ? 'unsupported_param' : (missingTitle ? 'empty_title' : '');\n    const ok = parseError === '';\n    result = {\n      ...result,\n      ok,\n      intent: config.intent,\n      target_list: config.target_list,\n      title,\n      items: [],\n      params: extracted,\n      confidence: ok ? 1 : 0.2,\n      needs_confirmation: ok ? config.needs_confirmation : true,\n      command: config.command,\n      entity_type: config.event_type,\n      target_system: config.target_system,\n      event_type: config.event_type,\n      parse_ok: ok,\n      parse_error: parseError\n    };\n  }\n}\n\nreturn [{ json: result }];"
      },
      "id": "fast-lane-parser",
      "name": "Fast Lane Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: 'gpt-4o-mini',\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: \"Wandle den User-Text in ein strukturiertes JSON um. Nutze nur diese Intents: task.create, followup.create, knowledge.draft, calendar.query, shopping.add, workout.log, meeting.create, health.log, journal.create, unknown. Wenn der Text einen Einkauf oder mehrere Artikel beschreibt, nutze shopping.add und liefere einzelne Artikel in items[]. Verwende nur diese Parameternamen: due, project, p, prio, ctx, to, topic, src, window, tz, store, test_run. Wenn du dir unsicher bist, setze intent auf unknown und needs_confirmation auf true. Antwort nur passend zum JSON-Schema.\"\n    },\n    {\n      role: 'user',\n      content: $json.raw_text || ''\n    }\n  ],\n  response_format: {\n  \"type\": \"json_schema\",\n  \"json_schema\": {\n    \"name\": \"canonical_intent\",\n    \"strict\": true,\n    \"schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"ok\": {\n          \"type\": \"boolean\"\n        },\n        \"intent\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"task.create\",\n            \"followup.create\",\n            \"knowledge.draft\",\n            \"calendar.query\",\n            \"shopping.add\",\n            \"workout.log\",\n            \"meeting.create\",\n            \"health.log\",\n            \"journal.create\",\n            \"unknown\"\n          ]\n        },\n        \"target_list\": {\n          \"type\": \"string\"\n        },\n        \"title\": {\n          \"type\": \"string\"\n        },\n        \"items\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"params\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"due\": {\n              \"type\": \"string\"\n            },\n            \"project\": {\n              \"type\": \"string\"\n            },\n            \"p\": {\n              \"type\": \"string\"\n            },\n            \"prio\": {\n              \"type\": \"string\"\n            },\n            \"ctx\": {\n              \"type\": \"string\"\n            },\n            \"to\": {\n              \"type\": \"string\"\n            },\n            \"topic\": {\n              \"type\": \"string\"\n            },\n            \"src\": {\n              \"type\": \"string\"\n            },\n            \"window\": {\n              \"type\": \"string\"\n            },\n            \"tz\": {\n              \"type\": \"string\"\n            },\n            \"store\": {\n              \"type\": \"string\"\n            },\n            \"test_run\": {\n              \"type\": \"string\"\n            }\n          },\n          \"additionalProperties\": false\n        },\n        \"confidence\": {\n          \"type\": \"number\"\n        },\n        \"needs_confirmation\": {\n          \"type\": \"boolean\"\n        }\n      },\n      \"required\": [\n        \"ok\",\n        \"intent\",\n        \"target_list\",\n        \"title\",\n        \"items\",\n        \"params\",\n        \"confidence\",\n        \"needs_confirmation\"\n      ],\n      \"additionalProperties\": false\n    }\n  }\n}\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "llm-parser",
      "name": "LLM Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "jMxe7lxLFE2XMIFZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json || {};\nconst original = $('Remove Duplicates').first().json || {};\nconst content = item.choices && item.choices[0] && item.choices[0].message ? item.choices[0].message.content : '';\n\nif (!content || typeof content !== 'string') {\n  return [{ json: {\n    ...original,\n    parser: 'llm',\n    ok: false,\n    intent: 'unknown',\n    target_list: '',\n    title: '',\n    items: [],\n    params: {},\n    confidence: 0,\n    needs_confirmation: true,\n    parse_ok: false,\n    parse_error: 'llm_missing_content'\n  } }];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  return [{ json: {\n    ...original,\n    parser: 'llm',\n    ok: false,\n    intent: 'unknown',\n    target_list: '',\n    title: '',\n    items: [],\n    params: {},\n    confidence: 0,\n    needs_confirmation: true,\n    parse_ok: false,\n    parse_error: 'llm_invalid_json'\n  } }];\n}\n\nreturn [{ json: {\n  ...original,\n  ...parsed,\n  parser: 'llm',\n  parse_ok: Boolean(parsed.ok),\n  parse_error: ''\n} }];"
      },
      "id": "extract-llm-output",
      "name": "Extract LLM Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const allowedParams = new Set([\"due\",\"project\",\"p\",\"prio\",\"ctx\",\"to\",\"topic\",\"src\",\"window\",\"tz\",\"store\",\"test_run\"]);\nconst inputData = items[0].json || {};\nconst metaByIntent = {\n  'task.create': { command: 'task', entity_type: 'task.create', target_system: 'google_tasks', target_list: 'NEXT', routing: 'google_tasks' },\n  'followup.create': { command: 'followup', entity_type: 'followup.create', target_system: 'google_tasks', target_list: 'WAITING', routing: 'google_tasks' },\n  'knowledge.draft': { command: 'knowledge', entity_type: 'knowledge.draft', target_system: 'obsidian', target_list: '', routing: 'obsidian' },\n  'calendar.query': { command: 'calendar_query', entity_type: 'calendar.query', target_system: 'google_calendar', target_list: '', routing: 'google_calendar' },\n  'shopping.add': { command: 'shopping', entity_type: 'shopping.add', target_system: 'google_tasks', target_list: 'NEXT', routing: 'google_tasks' },\n  help: { command: 'help', entity_type: 'system.help', target_system: 'telegram', target_list: '', routing: 'telegram' },\n  ping: { command: 'ping', entity_type: 'system.ping', target_system: 'telegram', target_list: '', routing: 'telegram' },\n  'workout.log': { command: 'workout', entity_type: 'workout.log', target_system: 'notion', target_list: '', routing: 'manual_confirmation' },\n  'meeting.create': { command: 'meeting', entity_type: 'meeting.create', target_system: 'obsidian', target_list: '', routing: 'manual_confirmation' },\n  'health.log': { command: 'health', entity_type: 'health.log', target_system: 'notion', target_list: '', routing: 'manual_confirmation' },\n  'journal.create': { command: 'journal', entity_type: 'journal.create', target_system: 'obsidian', target_list: '', routing: 'manual_confirmation' },\n  unknown: { command: 'unknown', entity_type: 'unknown', target_system: '', target_list: '', routing: 'manual_confirmation' }\n};\nconst autoExecutable = new Set(['task.create', 'followup.create', 'knowledge.draft', 'calendar.query', 'shopping.add', 'help', 'ping']);\nconst intent = typeof inputData.intent === 'string' && inputData.intent ? inputData.intent : 'unknown';\nconst meta = metaByIntent[intent] || metaByIntent.unknown;\nconst rawParams = inputData.params && typeof inputData.params === 'object' ? inputData.params : {};\nconst params = {};\nconst invalidParams = [];\nfor (const [key, value] of Object.entries(rawParams)) {\n  if (!allowedParams.has(key)) {\n    invalidParams.push(key);\n    continue;\n  }\n  params[key] = String(value);\n}\nconst title = typeof inputData.title === 'string' ? inputData.title.trim() : '';\nconst rawItems = Array.isArray(inputData.items) ? inputData.items : [];\nconst cleanItems = rawItems.map((value) => String(value || '').trim()).filter(Boolean);\nlet ok = Boolean(inputData.ok);\nlet confidence = Number(inputData.confidence);\nif (!Number.isFinite(confidence)) confidence = 0;\nlet needsConfirmation = Boolean(inputData.needs_confirmation);\nlet parseError = String(inputData.parse_error || '');\n\nif (intent === 'unknown') {\n  ok = false;\n  needsConfirmation = true;\n  parseError = parseError || 'unknown_intent';\n}\nif (invalidParams.length > 0) {\n  ok = false;\n  needsConfirmation = true;\n  parseError = parseError || 'unsupported_param';\n}\nif (['task.create', 'followup.create', 'knowledge.draft'].includes(intent) && !title) {\n  ok = false;\n  needsConfirmation = true;\n  parseError = parseError || 'empty_title';\n}\nif (intent === 'shopping.add' && cleanItems.length === 0) {\n  ok = false;\n  needsConfirmation = true;\n  parseError = parseError || 'shopping_items_required';\n}\nif (!autoExecutable.has(intent)) {\n  needsConfirmation = true;\n}\n\nconst targetList = typeof inputData.target_list === 'string' && inputData.target_list !== '' ? inputData.target_list : meta.target_list;\nconst targetSystem = inputData.target_system || meta.target_system;\nconst eventType = inputData.event_type || meta.entity_type;\nconst payload = {\n  ok,\n  intent,\n  target_list: targetList,\n  title,\n  items: intent === 'shopping.add' ? cleanItems : [],\n  params,\n  confidence,\n  needs_confirmation: needsConfirmation\n};\nconst routingDecision = !ok || needsConfirmation ? 'manual_confirmation' : meta.routing;\nconst audit = {\n  workflow_id: 'P1-telegram-intake-v2',\n  parser: inputData.parser || 'unknown',\n  confidence,\n  invalid_params: invalidParams\n};\n\nreturn [{ json: {\n  event_id: inputData.event_id || '',\n  event_type: eventType,\n  source_system: inputData.source_system || 'telegram',\n  source_id: inputData.source_id || '',\n  timestamp: inputData.timestamp || inputData.received_at || new Date().toISOString(),\n  actor: inputData.actor || 'user',\n  payload,\n  routing_decision: routingDecision,\n  audit,\n  ok,\n  intent,\n  title,\n  items: payload.items,\n  params,\n  confidence,\n  needs_confirmation: needsConfirmation,\n  target_list: targetList,\n  command: meta.command,\n  entity_type: eventType,\n  target_system: targetSystem,\n  parse_ok: ok,\n  parse_error: parseError,\n  chat_id: Number.isFinite(Number(inputData.chat_id)) ? Number(inputData.chat_id) : 0,\n  message_id: Number.isFinite(Number(inputData.message_id)) ? Number(inputData.message_id) : 0,\n  raw_text: typeof inputData.raw_text === 'string' ? inputData.raw_text : '',\n  raw_message: inputData.raw_message || {},\n  received_at: inputData.received_at || inputData.timestamp || new Date().toISOString()\n} }];"
      },
      "id": "normalize-canonical-event",
      "name": "Normalize Canonical Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        500
      ]
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.ok === true && $json.confidence >= 0.85 && $json.needs_confirmation === false }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": true,
              "output": 0
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "confidence-gate",
      "name": "Confidence Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2180,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const event = items[0].json || {};\nconst unsupported = new Set(['workout.log', 'meeting.create', 'health.log', 'journal.create']);\nlet replyText = '';\n\nif (unsupported.has(event.intent)) {\n  replyText = 'Intent erkannt: ' + event.intent + '. Dieser Typ ist in Phase 1 noch nicht automatisch verdrahtet. Bitte sende vorerst t:, f:, k: oder q:, oder nutze /help.';\n} else if (event.intent === 'shopping.add' && event.parse_error === 'shopping_items_required') {\n  replyText = 'Ich habe einen Einkauf erkannt, aber keine einzelnen Artikel sicher extrahieren koennen. Sende zum Beispiel: Milch, Eier und Brot kaufen.';\n} else if (event.parse_error === 'unsupported_param') {\n  replyText = 'Ich habe nicht erlaubte Parameter gefunden. Erlaubt sind /due, /project, /p, /prio, /ctx, /to, /topic, /src, /window, /tz und /store. Fuer Hilfe: /help.';\n} else {\n  replyText = 'Ich bin mir noch nicht sicher, was du meinst. Sende es bitte klarer oder nutze DSL, zum Beispiel:\\n- t: Rechnung senden /due=2026-04-12\\n- f: Antwort von Max /due=2026-04-14\\n- k: Idee fuer Telegram Intake\\n- q: free 2026-04-18 /window=09:00-17:00 /tz=Europe/Berlin\\n\\nNatuerliche Sprache fuer Einkauf geht auch, zum Beispiel: Milch, Eier und Brot kaufen.';\n}\n\nreturn [{ json: {\n  chat_id: event.chat_id,\n  reply_text: replyText,\n  reply_parse_mode: ''\n} }];"
      },
      "id": "confirm-reply",
      "name": "Confirm Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        760
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "task.create",
              "output": 0
            },
            {
              "value2": "followup.create",
              "output": 1
            },
            {
              "value2": "knowledge.draft",
              "output": 2
            },
            {
              "value2": "calendar.query",
              "output": 3
            },
            {
              "value2": "shopping.add",
              "output": 4
            },
            {
              "value2": "help",
              "output": 5
            },
            {
              "value2": "ping",
              "output": 6
            }
          ]
        },
        "fallbackOutput": 7
      },
      "id": "command-switch",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2400,
        420
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "pzYSe2gnvbXLedvG"
      },
      "id": "exec-task-next",
      "name": "Execute: task-next",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2660,
        80
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "6d1fV8surkco100H"
      },
      "id": "exec-task-waiting",
      "name": "Execute: task-waiting",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2660,
        220
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "Jm3AB26MzUlxauV6"
      },
      "id": "exec-knowledge",
      "name": "Execute: knowledge-draft",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2660,
        360
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "FLsNZCEhoqtwCbPG"
      },
      "id": "exec-calendar",
      "name": "Execute: calendar-query",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2660,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const allowedParams = new Set([\"due\",\"project\",\"p\",\"prio\",\"ctx\",\"to\",\"topic\",\"src\",\"window\",\"tz\",\"store\",\"test_run\"]);\nconst event = items[0].json || {};\nconst shoppingItems = Array.isArray(event.items) ? event.items.map((value) => String(value || '').trim()).filter(Boolean) : [];\nconst params = {};\nfor (const [key, value] of Object.entries(event.params || {})) {\n  if (allowedParams.has(key)) params[key] = String(value);\n}\nreturn shoppingItems.map((title) => ({\n  json: {\n    ...event,\n    event_type: 'task.create',\n    routing_decision: 'google_tasks',\n    payload: {\n      ...(event.payload || {}),\n      ok: true,\n      intent: 'task.create',\n      target_list: 'NEXT',\n      title,\n      items: [],\n      params,\n      confidence: event.confidence,\n      needs_confirmation: false\n    },\n    ok: true,\n    intent: 'task.create',\n    title,\n    items: [],\n    params,\n    needs_confirmation: false,\n    target_list: 'NEXT',\n    command: 'task',\n    entity_type: 'task.create',\n    target_system: 'google_tasks',\n    parse_ok: true,\n    parse_error: ''\n  }\n}));"
      },
      "id": "expand-shopping-items",
      "name": "Expand Shopping Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        640
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "h1",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "h2",
              "name": "reply_text",
              "value": "Command-Uebersicht\\n\\n/ping - Bot-Test\\n/help - Diese Hilfe\\n/start - Alias fuer /help\\n\\nDSL Fast Lane:\\nt: Titel /due=YYYY-MM-DD\\nf: Titel /due=YYYY-MM-DD\\nk: Titel\\nq: free YYYY-MM-DD /window=09:00-17:00 /tz=Europe/Berlin\\n\\nNatuerliche Sprache:\\nMilch, Eier und Brot kaufen\\n\\nBeispiele:\\nt: Rechnung senden /due=2026-04-12\\nf: Antwort von Max /due=2026-04-14\\nk: Idee fuer Telegram Intake\\nq: free 2026-04-18 /window=09:00-17:00 /tz=Europe/Berlin",
              "type": "string"
            },
            {
              "id": "h3",
              "name": "reply_parse_mode",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "help-reply",
      "name": "Help Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        780
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "p2",
              "name": "reply_text",
              "value": "ok - telegram intake aktiv",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "reply_parse_mode",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ping-reply",
      "name": "Ping Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        920
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "f2",
              "name": "reply_text",
              "value": "Kein Ausfuehrungspfad fuer diesen Intent gefunden. Nutze /help oder sende t:, f:, k: oder q:.",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "reply_parse_mode",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fallback-reply",
      "name": "Fallback Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        1060
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {}
      },
      "id": "telegram-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2920,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "Arepn5qW2Si65rVX",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Event": {
      "main": [
        [
          {
            "node": "Allowlist Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowlist Check": {
      "main": [
        [
          {
            "node": "Text Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply: Nicht autorisiert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Nicht autorisiert": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Guard": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply: Nur Text-Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Nur Text-Commands": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Fast Lane Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fast Lane Check": {
      "main": [
        [
          {
            "node": "Fast Lane Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fast Lane Parser": {
      "main": [
        [
          {
            "node": "Normalize Canonical Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Parser": {
      "main": [
        [
          {
            "node": "Extract LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LLM Output": {
      "main": [
        [
          {
            "node": "Normalize Canonical Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Canonical Event": {
      "main": [
        [
          {
            "node": "Confidence Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Gate": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirm Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Reply": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Execute: task-next",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: task-waiting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: knowledge-draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: calendar-query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expand Shopping Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ping Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Shopping Items": {
      "main": [
        [
          {
            "node": "Execute: task-next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: task-next": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: task-waiting": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: knowledge-draft": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: calendar-query": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Help Reply": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Reply": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Reply": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "diti-ai"
    },
    {
      "name": "phase-1"
    },
    {
      "name": "intake-v2"
    }
  ]
}
